
#nav {
    margin: 0 auto; 
    padding: 30px;
    background-color: black;
    margin-bottom: 20px;
    text-decoration: none;
    text-decoration-color: white;
    text-decoration-style: none;
    list-style: none;
    color: white;
    display: flex;
    flex-flow: row;
    height: 100px;
    justify-content: space-between;
    font-family: "Courier New";

}

#nav a {

    text-decoration-color: white;
    list-style: none;
    color: white;
    padding: 20px;

}


#nav ul {
    list-style-type: none;
    font-size: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    order: 1;
    display: none;
    position: absolute;
    text-decoration: none;
    font-size: 30px;
    min-width: 160px;
    padding: 60px 60px;
    border-radius: 10px;
    text-decoration-style: none;
    z-index: 1;
    font-family: "Courier New";
    line-height: 50px;

}



.dropdown:hover .dropdown-content {
    display: block;
}
#wrapper {
    margin: 0 auto;
    text-align: center;
     background-image: linear-gradient(rgb(248, 182, 184), rgb(252, 215, 213), rgb(248, 182, 184));
    margin-top: -20px;
    height: 7000px;
    width: 70%;
    color: black;
    font-family: "Courier New";
}

#hire img {
    border-radius: 400px;
}


body { 
    width: 100%;
    background-image: linear-gradient(rgb(117, 19, 42), rgb(166, 77, 74), rgb(82, 21, 23));
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    color: white;
}

form input p {
    display: flex;
    flex-wrap: wrap;
}


.form-row {
    padding: 10px 0;
    display:flex;
}

.form-row label {
    padding-right: 10px;
}

.form-row input {
    flex: 1;
}



form {
    width: 40%;
    padding: 40px;
    text-align: center;
    margin: 0 auto;
}


button {

    background-image: linear-gradient(rgb(117, 19, 42), rgb(166, 77, 74), rgb(82, 21, 23));
    font-family: 'Courier New';
    padding: 15px 15px;
    border-radius: 10px;
    color: white;
    border: 1px solid black;
   
}

#hire {
    font-weight: 400;
    font-size: 30px;
}